MONGODB_URI=mongodb://127.0.0.1:27017/elite
CLOUDINARY_NAME=dbvg0jwdw
CLOUDINARY_API_KEY=664456894629542
CLOUDINARY_SECRET_KEY=HBuj3y5LZFUDvDWQ7riDEUXBucY
JWT_SECRET=elite_secret_key_local_super_secure_2026_production_test
ADMIN_EMAIL=admin@elite.tn
ADMIN_PASSWORD=EliteStore2026